
.button-container {
    display: flex;
    align-items: center;
  }
  
  .rounded-circle {
    border-radius: 50%;
    overflow: hidden;
    
  }

  .close-icon{
    color: black;
    font-weight: bold;
    
  }
  
 
  .btn-close {
    background-color: rgb(209, 207, 207); 
    border: none;
    padding: 6px; 
    font-size: 0.3rem;
    cursor: pointer;
    color: #fff; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
  }

  .btn-close span{
    font-size: 0.8rem;
  }
  
  .btn-close:hover {
    background-color: rgb(136, 136, 136); 
  }
  
 
  .city-name {
    margin-left: 10px; 
    font-size: 1rem;
    font-weight:600;
  }
  