
  .rounded-circle {
    height: 1rem;
    overflow: hidden;
    margin-left: 10rem;
    margin-top: -0.5rem;
    width: 10%;
  }

  .close-icon{
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: -19rem;
  }

  .btn-close span{
    padding-right: 1rem;
    font-size: 1.5rem;
  }
  
  
  
 
  