
.button-container {
    display: flex;
    align-items: center;
  }
  
  .rounded-circle {
    height: 1rem;
    overflow: hidden;

  }

  .close-icon{
    color: black;
    font-weight: bold;
    margin-left: 2rem;
  }
  
 
  .btn-close {
    background-color: transparent; 
    border: none;
    padding: 6px; 
    font-size: 0.3rem;
    cursor: pointer;
    color: #fff; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
  }

  .btn-close span{
    padding-right: 1rem;
    font-size: 1.5rem;
  }
  
  .btn-close:hover {
    background-color: transparent;
  }
  
 
  .city-name {
    margin-left: 10px; 
    font-size: 1rem;
    font-weight:600;
  }
  